# Loops in python

## for loop

In [2]:
fruits=['apple','banana','cherry','date','elderberry']
for i in fruits:
    print(i,end=" ")

apple banana cherry date elderberry

#### range function

In [3]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [4]:
for i in range(2,10,2):
    print(i)

2
4
6
8

### Q1)print your name 10 times

In [1]:
name ="navya singh"
for i in range(11):
    print(name)

navya singh
navya singh
navya singh
navya singh
navya singh
navya singh
navya singh
navya singh
navya singh
navya singh
navya singh

### Q2) print the even numbers from 0 to 20

In [7]:
for i in range(0,21,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

### Q3) print odd numbers with conditions

In [8]:
for i in range(0,20):
    if (i%2!=0):
        print(i)

1
3
5
7
9
11
13
15
17
19

## while loop

In [9]:
i=0
while i<=10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10

In [1]:
i=0
while i<=10:
    print(i)
    i=i+2

0
2
4
6
8
10

### Q1) print your name ten times

In [1]:
i=0
while i<=10:
    print("navya singh")
    i+=1

navya singh
navya singh
navya singh
navya singh
navya singh
navya singh
navya singh
navya singh
navya singh
navya singh
navya singh

### Q2)print the even numbers from o-20

In [3]:
i=0
while i<=20:
    if(i%2==0):
        print(i)
    i+=1

0
2
4
6
8
10
12
14
16
18
20

In [10]:
i=0
while i<=20:
    print(i)
    i=i+2

0
2
4
6
8
10
12
14
16
18
20

### Q3)print the odd bnumbers from 0-20

In [4]:
i=0
while i<=20:
    if (i%2!=0):
        print(i)
    i+=1

1
3
5
7
9
11
13
15
17
19

### break and continue

In [1]:
fruits=['apple','banana','cherry','date','elderberry','onion','banana','kiwi','apple']
for i in  fruits:
    if i =='onion':
        break
    print(i)

apple
banana
cherry
date
elderberry

In [2]:
fruits=['apple','banana','cherry','date','elderberry','onion','banana','kiwi','apple']
for i in  fruits:
    if i =='onion':
        continue
    print(i)

apple
banana
cherry
date
elderberry
banana
kiwi
apple

In [1]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [2]:
for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4