# Dictionary

In [2]:
dict={'name':'navya',
'class':'12th',
'marks':90}
print(dict)

{'name': 'navya', 'class': '12th', 'marks': 90}

In [2]:
info = dict(name='navya',age = int(input("enter age")), marks =90)
print(info)

{'name': 'navya', 'age': 20, 'marks': 90}

In [6]:
dict.keys()

dict_keys(['name', 'class', 'marks'])

In [9]:
temp={
    'lucknow': [30,35,40],
    'delhi':   [20,30,40],
    'chennai': [10,24,35]
}
print(temp)

{'lucknow': [30, 35, 40], 'delhi': [20, 30, 40], 'chennai': [10, 24, 35]}

In [ ]:
#to access the key in dictionary
temp['lucknow']

[30, 35, 40]

In [11]:
#2nd methofd to acess the key in dictionary
temp.get("lucknow")

[30, 35, 40]

In [12]:
#adding new key and value pair
temp["mumbai"]=[23,67,78]

In [13]:
print(temp)

{'lucknow': [30, 35, 40], 'delhi': [20, 30, 40], 'chennai': [10, 24, 35], 'mumbai': [23, 67, 78]}

In [ ]:
print(sum)