# STRING

### Q1)Create a string and print it.

In [ ]:
str="hello world"
print(str)

hello world

### Q2)Take a string input and print it's length.

In [ ]:
a=input("enter a string")
print(len(a))

12

### Q3)Print the last word of the string Python is great using slices.

In [ ]:
STR="python is great"
print(STR[10:])

great

### Q4)Print the each word in different line of string python is everywhere.

In [ ]:
s="python is everywhere"
k=s.split()
for i in k :
    print(i)

python
is
everywhere

### Q5)Print the string Hello World! in reverse.

In [ ]:
q="hello world"

### Q6)Convert the string How are you? in uppercase.

In [ ]:
Q="how are you"
Q.upper()

'HOW ARE YOU'

### Q7)Convert the string How Is It Going? in lowercase.

In [ ]:
Q7="How Is It Going"
Q7.lower()

'how is it going'

### Q8)Join the following list by spaces( ) and print the result words = ['Python', 'is', 'easy', 'to', 'learn']

In [ ]:
words=['python','is','easy','to','learn']
for i in words:
    print(i,end=" ")

python is easy to learn

### Q9)Print a multiline string using a single print

In [ ]:
poem='''twinkle twinkle little stars
how i wonder what u are 
up above the world so high 
like a diamond in the sky'''
print(poem )

twinkle twinkle little stars
how i wonder what u are
up above the world so high
like a diamond in the sky

### Q11)Print a variable with some text using a single print function, output should look like following.
##### the variable is 15

In [ ]:
z="the variable is 15"
print(z)

the variable is 15

### Q12)concatenate the following strings and print the result
s1 = 'python '
s2 = 'is '
s3 = 'great.'

In [ ]:
STR="PYTHON IS GREAT"
k=0
for i in STR:
    print("s"(k+1),i)

<>:4: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:4: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
C:\Users\Prakhar Singh\AppData\Local\Temp\ipykernel_18404\3003218362.py:4: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  print("s"(k+1),i)

TypeError: 'str' object is not callable

### Q13)Print # 20 times without using a loop

In [ ]:
W="#"
print(W*20)

####################

### Q14)Print numbers from 1 to 9, each on a seperate line, followed by a dot, output should look like the following-
1.
2.
3.

In [ ]:
for i in range (0,11):
    print(i,".")

0 .
1 .
2 .
3 .
4 .
5 .
6 .
7 .
8 .
9 .
10 .

### Q15)Ask user to input a sentence and print each word on a different line.

In [ ]:
input=input("entera sentance")
o=input.split()
for i in o:
    print(i)

you
are
a
good
girl

### Q16)Ask user to input a string and check if the string ends with '?'

In [ ]:
sk=input("enter a string")
f=sk.split()
for i in f:
    if i=='?':
        print("it has a question mark")

it has a question mark

### Q17)Ask user to input a string and print how many times `e` appeared in the string

In [ ]:
def new_func():
    I=input ("enter a string")
    z=I.split()
    count=0
    for i in z :
        for j in i :
            if i == 'e':
                count+=1

    print(count)

new_func()

6

### Q18) Check if the user input is a number

In [ ]:
num=[0,1,2,3,4,5,6,7,8,9]
kkk=input("enter the string")
t=kkk.split()
print(t)
for i in kkk:
    if i in num:
        print(i)

### Q19) Remove the extra spaces in beginning and in the end of the following string-

### Q20) Ask user to input string, print `found` if any of the character is upper case.

In [3]:
aa=input("enter a string")
zz=aa.split()
for i in zz :
    if i==i.isupper():
        print("the letter is upper")

else:
    print("no upper case")

no upper case

### Q21)Extract names from the following string and store them in a list.
names = 'Joe, David, Mark, Tom, Chris, Robert'

In [13]:
names = 'Joe, David, Mark, Tom, Chris, Robert'
names_list=[]
na=names.split()
for i in na :
    names_list.append(i)

print(names_list)

['Joe,', 'David,', 'Mark,', 'Tom,', 'Chris,', 'Robert']

### Q22)In the following string, add aye in the end of every word and print the results.
text = 'this is some text'

In [15]:
text = 'this is some text'
Q=text.split()
for i in Q:
    print(i,end="aye ")

thisaye isaye someaye textaye

In [19]:
list=[]
n=int(input("enter numberv of elements you want in  a list"))
for i in range(n):
    k = int(input("enter the element"))
    list.append(k)
print(list)

[4, 7, 8, 9, 6]